.box-form{
  padding: 80px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.form-group{
  padding: 10px;
}
.box-form label{
  padding: 5px;
  font-family: "poppins" , sans-serif;
  font-size: 18px;
}
.box-form input{
  height: 40px;
  color: #1b1e21;
}

.main-title{
  font-weight: bolder;
  font-size: 22px;
  font-family: poppins;
}
.input-group-append span{
  height: 40px;
  color: #1b1e21;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#montant{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
